

body {
  font-family: Avenir Next, Arial, sans-serif;
  color: rgb(50, 50, 50);
  letter-spacing: 0.0125rem;
  font-weight: 500;
  font-size: clamp(1.125rem, 1.125rem + (0.375 * (100vw - 20rem)) / 100, 1.5rem);
  line-height: clamp(1.75rem, 1.75rem + (0.75 * (100vw - 20rem)) / 100, 2.5rem);
  margin-top: 0px;
  margin-bottom: 40px;
  
  
  
}


h1 {
    color: black;
    font-weight: 800;
    font-size: clamp(2rem, 2rem + (3 * (100vw - 20rem)) / 100, 5rem);
    line-height: clamp(2.5rem, 2.5rem + (3 * (100vw - 20rem)) / 100, 5.5rem);
    margin-bottom: 40px;
    border-bottom: 0;
}

h2 {
  
    color: black;
    font-weight: 800;
    font-size: clamp(1.75rem, 1.75rem + (1.75 * (100vw - 20rem)) / 100, 3.5rem);
    line-height: clamp(2rem, 2rem + (2 * (100vw - 20rem)) / 100, 4rem);
    margin-bottom: 40px;
    border-bottom: 0;
}

h3{
  
    color: black;
    font-weight: 800;
    font-size: clamp(1.5rem, 1.5rem + (1 * (100vw - 20rem)) / 100, 2.5rem);
    line-height: clamp(2rem, 2rem + (1 * (100vw - 20rem)) / 100, 3rem);
    margin-bottom: 40px;
  
}

h4{
  
  color: black;
  font-weight: 800;
    font-size: clamp(1.375rem, 1.375rem + (0.625 * (100vw - 20rem)) / 100, 2rem);
    line-height: clamp(2rem, 2rem + (0.5 * (100vw - 20rem)) / 100, 2.5rem);
    margin-bottom: 40px;
  
}

h5{
  
  color: black;
  font-weight: 800;
  font-size: clamp(1.125rem, 1.125rem + (0.375 * (100vw - 20rem)) / 100, 1.5rem);
  line-height: clamp(1.625rem, 1.625rem + (0.375 * (100vw - 20rem)) / 100, 2rem);
  margin-bottom: 40px;
  
}

p{
    color: rgb(50, 50, 50);
    letter-spacing: 0.0125rem;
    font-weight: 500;
    font-size: clamp(1.125rem, 1.125rem + (0.375 * (100vw - 20rem)) / 100, 1.5rem);
    line-height: clamp(1.75rem, 1.75rem + (0.75 * (100vw - 20rem)) / 100, 2.5rem);
    margin-bottom: 40px;
}

a {
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    font-weight: 500;
    color: rgb(0, 70, 153);
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-flex;
    -webkit-box-align: baseline;
    align-items: baseline;
    text-decoration: underline;
}

blockquote{
  padding:0;
  margin:0;
  border:none;
  margin: 0px 0px 40px;
}

blockquote p {
  color: rgb(50, 50, 50);
    font-weight: 900;
    font-style: italic;
    quotes: "“" "”";
    font-size: clamp(1.5rem, 1.5rem + (1 * (100vw - 20rem)) / 100, 2.5rem);
    line-height: clamp(2rem, 2rem + (1 * (100vw - 20rem)) / 100, 3rem);
    
}

blockquote p::before {

    content: open-quote;

}



blockquote p::after {
  
    content: close-quote;
}

ul, ol {
list-style: none;
margin: 0px 0px 40px;
color: rgb(50, 50, 50);
letter-spacing: 0.0125rem;
font-weight: 500;
font-size: clamp(1.125rem, 1.125rem + (0.375 * (100vw - 20rem)) / 100, 1.5rem);
line-height: clamp(1.75rem, 1.75rem + (0.75 * (100vw - 20rem)) / 100, 2.5rem);
counter-reset: item;
padding: 0;

}

@media only screen and (max-width: 839px) {
ul, ol {
letter-spacing: 0;
}
}

ul li {
display: grid;
grid-template-columns: min-content auto;
-webkit-box-align: baseline;
align-items: baseline;
}



ul li::before {
content: '';
width: 8px;
height: 8px;
background-color: rgb(50, 50, 50);
margin-right: 24px;
}



ol li {
display: grid;
grid-template-columns: min-content auto;
-webkit-box-align: baseline;
align-items: baseline;
counter-increment: item 1;
}



ol li::before {
content: counter(item) '.';
color: rgb(50, 50, 50);
margin-right: 12px;
}


#TOC {
background: white;
background: url("./img/gemeente_amsterdam.png");
background-size: contain;
padding-top: 140px !important;
background-repeat: no-repeat;
background-color: white;
border-color: white;
top: -0.5%;
left: -.2%;
opacity: 0.7;
}

#TOC:hover {
opacity: 1;
}


.main-container{
  
  margin-right: 200px ;
  
}


div.vraag {
  padding: .1em;
  margin: .1em 0;
  padding-left: 180px;
  background-size: 120px;
  background-repeat: no-repeat;
  background-position: 15px center;
  background-color: white ;
  background-image: url('./img/vraag_teken.jpg');
  min-height: 70px;
  font-size: 15px ;
  font-weight: 80;
  color: black;
  border: solid 1px lightblue;
  border-radius: 12px;
  float: right ;
  clear: right ;
  margin-right: 45% ;
  width: 57%  ;
  margin-top:  0 ;
  margin-bottom:  0 ;
  vertical-align: baseline ;
  position: relative ;
}

.nav-tabs{
    min-width: 100%;
    display: inline-flex;
    flex-direction: row;
    list-style: none;
    margin: 0px;
    padding: 0px;
    box-shadow: rgb(245 245 245) 0px -2px 0px 0px inset;
  
}

.nav-item ul li{

  display: none;



}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    background-color: transparent;
    padding: 0px;
    border: none;
    margin-right: 30px;
    transition: box-shadow 0.1s ease-in-out 0s, color 0.1s ease-in-out 0s;
    font-size: 18px;
    color: rgb(236, 0, 0);
    box-shadow: rgb(236 0 0) 0px -6px inset;
        height: 44px;
    white-space: nowrap;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
    line-height: 20px;
}

.nav-tabs .nav-link {
 background-color: transparent;
    padding: 0px;
    color: black;
    border: none;
    margin-right: 30px;
    transition: box-shadow 0.1s ease-in-out 0s, color 0.1s ease-in-out 0s;
    font-size: 18px;
        height: 44px;
    white-space: nowrap;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
    line-height: 20px;

  
}


.tab-content {
  margin-top: 0px;
  border-left: 0px; 
  border-right: 0px; 
  border-bottom: 0px; 
  margin-left: 0; 
  padding: 1em;
  margin-bottom: 1em;
}



